<div class="modal-header">
    <h3 class="modal-title">Forgot Password</h3>
</div>
<div class="modal-body">
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    <form name="form.modalForm" role="form" novalidate>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <label for="userEmail">Email Address <span rc-messages="userEmail"></span></label>
                    <input ng-model="forgotpasswordEmail.email" maxlength="255" required type="email" class="form-control" name="userEmail" placeholder="Email">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-info pull-left" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="buttonSubmit()">Submit</button>
</div>