<div class="page admin user-groups">
    
    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-info"  ng-click="buttonOpenNewVariableModal()"><i class="fa fa-plus"></i> Add User Group</button>
            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add User Group</a></li>
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add Group Role</a></li>
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add Visibility Field</a></li>
            </ul>
        </div>
    </div>
    
    <div class="page-header">
        <h1>User Groups</h1>
    </div>
      
    <table
        data-datatable=""
        data-dt-options="dtUserGroups.options"
        data-dt-columns="dtUserGroups.columns"
        data-dt-instance="dtUserGroups.instance"
        class="table table-hover"></table>
    
</div>