/* CSS crunched with Crunch - http://crunchapp.net/ */
/*
 * Main Constructor Less File
 * 
 * Contains imports for all other less files and 
 * guarantees that they are imported in a set order.
 */
/*
  * Less Named Colors
  * 
  * Color and sometimes size variables used by other less files.
  * http://lesscss.org/features/#variables-feature
  */
/*
  * Less Mixins
  * 
  * Mixins to be used as shortcuts by other less files.
  * http://lesscss.org/features/#mixins-feature
  */
.mixin-fadeIn {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.mixin-fadeOut {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.mixin-fadeOut:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.mixin-fade-between-colors {
  -webkit-transition: color 0.5s, background 0.5s;
  -moz-transition: color 0.5s, background 0.5s;
  -ms-transition: color 0.5s, background 0.5s;
  -o-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}
/*
  * Animation Mixins
  * 
  * Mixins for animations to be used as shortcuts by other less files.
  * http://lesscss.org/features/#mixins-feature
  */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg);
  }
  10% {
    -webkit-transform: skewX(-8deg);
  }
  20% {
    -webkit-transform: skewX(7deg);
  }
  30% {
    -webkit-transform: skewX(-6deg);
  }
  40% {
    -webkit-transform: skewX(5deg);
  }
  50% {
    -webkit-transform: skewX(-4deg);
  }
  60% {
    -webkit-transform: skewX(3deg);
  }
  70% {
    -webkit-transform: skewX(-2deg);
  }
  80% {
    -webkit-transform: skewX(1deg);
  }
  90% {
    -webkit-transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: skewX(9deg);
  }
  10% {
    transform: skewX(-8deg);
  }
  20% {
    transform: skewX(7deg);
  }
  30% {
    transform: skewX(-6deg);
  }
  40% {
    transform: skewX(5deg);
  }
  50% {
    transform: skewX(-4deg);
  }
  60% {
    transform: skewX(3deg);
  }
  70% {
    transform: skewX(-2deg);
  }
  80% {
    transform: skewX(1deg);
  }
  90% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.wiggle:hover {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
.animated.wiggle {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
/*
 * Form Styles
 * 
 * Form and form element style overrides.
 */
/*
 * Image Styles
 * 
 * 
 */
img.img-thumbnail {
  margin: 20px;
}
img.img-thumbnail.top {
  margin-top: 0;
}
img.img-thumbnail.bottom {
  margin-bottom: 0;
}
img.img-thumbnail.left,
img.img-thumbnail.pull-left {
  margin-left: 0;
}
img.img-thumbnail.right,
img.img-thumbnail.pull-right {
  margin-right: 0;
}
img.img-thumbnail.no-margin {
  margin: 0;
}
/*
 * Table Styles
 * 
 * DataTable and standard Table style overrides.
 */
table.dataTable {
  border-bottom: 1px solid #e3e3e3;
}
table.dataTable thead {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
table.dataTable thead tr th {
  font-size: .9em;
  padding: 8px 4px 4px;
  white-space: nowrap;
  /* Sorting Icon */
  /* End: Sorting Icon */
}
table.dataTable thead tr th.sorting,
table.dataTable thead tr th.sorting_asc,
table.dataTable thead tr th.sorting_desc,
table.dataTable thead tr th.sorting_asc_disabled,
table.dataTable thead tr th.sorting_desc_disabled {
  padding-right: 25px;
}
table.dataTable thead tr th.sorting:after,
table.dataTable thead tr th.sorting_asc:after,
table.dataTable thead tr th.sorting_desc:after,
table.dataTable thead tr th.sorting_asc_disabled:after,
table.dataTable thead tr th.sorting_desc_disabled:after {
  bottom: 4px;
  right: 8px;
}
table.dataTable tbody tr {
  /* Responsive Controls */
  /* Responsive sub table */
}
table.dataTable tbody tr td.responsive-control i.fa:before {
  content: "\f105";
}
table.dataTable tbody tr.parent td.responsive-control i.fa:before {
  content: "\f107";
}
table.dataTable tbody tr.child {
  padding: 0;
  border-left: 2px solid #e3e3e3;
}
table.dataTable tbody tr.child td.child {
  padding: 0;
}
table.dataTable tbody tr.child td.child table.sub-table {
  margin: 0;
}
table.dataTable tbody tr td {
  padding: 4px;
}
/*
 * Typography Styles
 * 
 * General typography and text elements style overrides.
 */
.align-right,
.alignRight,
.text-right,
.textRight {
  text-align: right;
}
.align-center,
.alignCanter,
.text-center,
.textCenter {
  text-align: center;
}
.align-left,
.alignLeft,
.text-left,
.textLeft {
  text-align: left;
}
.alert {
  padding: 7px 7px 7px 14px;
  margin-bottom: 10px;
}
.modal-body .meta {
  font-size: .9em;
}
.modal-body .meta hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.modal-body .meta p {
  margin: 0 0 5px;
}
/*
 * Layout(s) Styles
 * 
 * Styles for each layout that the website may use.
 */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 75px;
  background-color: #f5f5f5;
}
.page {
  margin-bottom: 75px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .layout-view > .layout > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.clear-both {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
/*
 * Header(s) Styles
 * 
 * Styles for each area header that the website may use.
 */
/*
 * Footer(s) Styles
 * 
 * Styles for each area footer that the website may use.
 */
.store.item-details .page-header {
  margin-top: 0;
}
.store.item-details .price {
  color: #286090;
}
.store.item-details .price .regular-price {
  text-decoration: line-through;
  color: #888;
}
.store.item-details .item-qty-subtotal {
  margin-top: 15px;
}
.store.item-details .tab-pane.active {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 0 0 4px 4px;
  border-top: none;
  margin-bottom: 15px;
}
