<div class="modal-header">
    <h3 ng-if="newMode" class="modal-title">New Group Role</h3>
    <h3 ng-if="!newMode && editMode" class="modal-title">Edit Group Role #{{saved.id}}</h3>
    <h3 ng-if="!newMode && !editMode" class="modal-title">Group Role #{{saved.id}}</h3>
</div>

<div class="modal-body">
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
    
    
    <div ng-if="!editMode && !manageGroupsMode && !manageFieldsMode">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-role">
                    <label>Role Name</label>
                    <p class="form-control-static">{{saved.role}}</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-role" title="Unique identifier to be embedded within the system.">
                    <label>Unique Reference Identifier</label>
                    <p class="form-control-static"><code>{{saved.identifier}}</code></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-role">
                    <label>Description</label>
                    <div class="form-control-static">{{saved.desc | formatParagraphsAsHtml}}</div>
                </div>
            </div>
        </div>

        <div class="meta" ng-if="!newMode">
            <hr/>
            <p class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} by {{saved.createdBy}}</p>
            <p class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated | formatMySQLDate}} by {{saved.updatedBy}}</p>
        </div>

    </div>
    
    <form ng-if="editMode" name="form.modalForm" role="form" novalidate>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-role">
                    <label>Role Name</label>
                    <input class="form-control" name="role" ng-model="editing.role" type="text" maxlength="255" required />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-role" title="Unique identifier to be embedded within the system.">
                    <label>Unique Reference Identifier</label>
                    <p class="form-control-static"><code>{{editing.role | getSlugDashSeperated}}</code></p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-role">
                    <label for="desc">Description</label>
                    <textarea class="form-control" name="desc" row="2" ng-model="editing.desc" maxlength="1000" required></textarea>
                </div>
            </div>
        </div>
    </form>
    
    <div ng-if="manageGroupsMode">
        <table class="table table-bordered table-striped">
            <thead>
                <tr><th>ID</th><th>Label</th><th></th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groupList">
                    <td>{{group.id}}</td>
                    <td>{{group.label}}</td>
                    <td>
                        <button ng-if="isGroupAssignedToRole(group.id)" type="button" ng-click="buttonRemoveGroupFromRole(group.id)" class="btn btn-warning btn-xs pull-right">Remove</button>
                        <button ng-if="!isGroupAssignedToRole(group.id)" type="button" ng-click="buttonAddGroupToRole(group.id)" class="btn btn-default btn-xs pull-right">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div ng-if="manageFieldsMode">
        <table class="table table-bordered table-striped">
            <thead>
                <tr><th>ID</th><th>Label</th><th></th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="field in fieldList">
                    <td>{{field.id}}</td>
                    <td>{{field.label}}</td>
                    <td>
                        <button ng-if="isFieldAssignedToRole(field.id)" type="button" ng-click="buttonRemoveFieldFromRole(field.id)" class="btn btn-warning btn-xs pull-right">Remove</button>
                        <button ng-if="!isFieldAssignedToRole(field.id)" type="button" ng-click="buttonAddFieldToRole(field.id)" class="btn btn-default btn-xs pull-right">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div ng-if="!editMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-default pull-left" ng-click="buttonManageGroups()">Manage Groups</button>
    <button class="btn btn-default pull-left" ng-click="buttonManageFields()">Manage Fields</button>
    <button class="btn btn-info" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <button class="btn btn-danger pull-left" ng-if="!newMode" ng-click="buttonDelete()">Delete</button>
    
    <button class="btn btn-info" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="!newMode" ng-click="buttonSave()">Save</button>
</div>