<div class="page public about">
    
    <div class="page-header">
        <h1>Terms of Use</h1>
    </div>
    
    <p class="lead">Dinosaurs are extinct today because they lacked opposable 
        thumbs and the brainpower to build a space program.</p>
    
    <p>I believe every human has a finite number of heartbeats. I don't intend 
        to waste any of mine. That's one small step for [a] man, one giant leap 
        for mankind.</p>

    <p>We are all connected; To each other, biologically. To the earth, 
        chemically. To the rest of the universe atomically. There can be no 
        thought of finishing for ‘aiming for the stars.’ Both figuratively and 
        literally, it is a task to occupy the generations. And no matter how 
        much progress one makes, there is always the thrill of just beginning.</p>

    <p>For those who have seen the Earth from space, and for the hundreds and 
        perhaps thousands more who will, the experience most certainly changes 
        your perspective. The things that we share in our world are far more 
        valuable than those which divide us.</p>
    
    <p>
        <a href="http://spaceipsum.com/" target="_blank">Space Ipsum</a>
    </p>
    
</div>