<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-sub-header">
        <li><a data-ui-sref="app.store.category({ category: 'mens' })">Mens</a></li>
        <li><a data-ui-sref="app.store.category({ category: 'womens' })">Womens</a></li>
        <li><a data-ui-sref="app.store.category({ category: 'boys' })">Boys</a></li>
        <li><a data-ui-sref="app.store.category({ category: 'girls' })">Girls</a></li>
        <li><a data-ui-sref="app.store.category({ category: 'accessories' })">Accessories</a></li>
    </ul>
</div>