<div class="page auth signup player-invite">

    <div class="row">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">

            <div class="logo text-center" style="padding-bottom: 10px;">
                <img src="/media/images/trivia-joint-logo.png" alt="Trivia Joint"  />
                <h2 style="font-size: 200%;">You have been invited!</h2>
            </div>
            
            <div ui-view="signupform"></div>
        </div>
        <div class="col-xs-0 col-sm-2"></div>
    </div>

</div>
