<div class="page admin field-visibility">
    
    <div class="well well-sm pull-right">
        <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-hourglass-o"></i> Visibility Dev Mode</button>
        
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-info"  ng-click="buttonOpenNewVariableModal()"><i class="fa fa-plus"></i> Add Visibility Field</button>
            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add User Group</a></li>
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add Group Role</a></li>
                <li role="menuitem"><a href="#"><i class="fa fa-plus"></i> Add Visibility Field</a></li>
            </ul>
        </div>
    </div>
    
    <div class="page-header">
        <h1>Define Tag Visibility</h1>
    </div>
      

    <table
        data-datatable=""
        data-dt-options="dtFields.options"
        data-dt-columns="dtFields.columns"
        data-dt-instance="dtFields.instance"
        class="table table-hover"></table>

    
</div>