<div class="modal-header">
    <h3 ng-if="!editMode" class="modal-title">New System Config Variable</h3>
    <h3 ng-if="editMode" class="modal-title">Edit System Config Variable</h3>
</div>

<div class="modal-body">       
    
    <form name="form.modalForm" role="form" novalidate>
    
        <div data-rc-bootstrap-alerts="alertProxy"></div>
        
        <div class="form-group">
            <label>Variable Name</label>
            <input ng-model="variable.name" class="form-control" type="text" maxlength="255" required />
        </div>
        
        <div class="form-group">
            <label>Variable Value</label>
            <input ng-model="variable.value" class="form-control" type="text" maxlength="255" required />
        </div>

        <div ng-if="!editMode" class="form-group">
            <label>Variable Permissions</label><br/>
            
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="variable.disabled" value="disabled" title="This variableis disabled and will not be auto loaded."> Disabled when created
            </label>
            
        </div>

        <div ng-if="editMode" class="form-group">
            <label>Variable Permissions</label><br/>
            
            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="variable.indestructible" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="indestructible" 
                       title="This variable cannot be deleted."> Indestructible
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="variable.disabled" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="disabled" 
                       title="This variableis disabled and will not be auto loaded."> Disabled
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="variable.locked" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="locked" 
                       title="This variable is locked and cannot be modified without super admin permissions."> Locked
            </label>
            
        </div>
        
    </form>

</div>

<div class="modal-footer">
    
    <button class="btn btn-danger pull-left" ng-if="editMode" ng-click="buttonDelete()">Delete</button>
    
    <button class="btn btn-info" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="!editMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="editMode" ng-click="buttonSave()">Save</button>
</div>