<div class="modal-header">
    <h3 ng-if="newMode" class="modal-title">New System Config Variable</h3>
    <h3 ng-if="!newMode && editMode" class="modal-title">Edit System Config Variable #{{saved.id}}</h3>
    <h3 ng-if="!newMode && !editMode" class="modal-title">System Config Variable #{{saved.id}}</h3>
</div>

<div class="modal-body">
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>
        
    <div ng-if="!editMode">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Variable Name</label>
                    <p class="form-control-static"><code>{{saved.name}}</code></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Variable Value</label>
                    <p class="form-control-static"><code>{{saved.value}}</code></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Variable Permissions</label><br/>
                    <p ng-if="saved.locked === '1'" class="text-danger"><strong>Locked</strong> - This variable is locked and cannot be edited.</p>
                    <p ng-if="saved.indestructible === '1'" class="text-warning"><strong>Indestructible</strong> - This variable is indestructible and cannot be deleted.</p>
                    <p ng-if="saved.disabled === '1'" class="text-info"><strong>Disabled</strong> - This variable is disabled and will not be loaded by the system.</p>
                    <p ng-if="saved.locked === '0' && saved.indestructible === '0' && saved.disabled === '0'">No special permissions.</p>
                </div>
            </div>
        </div>
        
        <div class="meta" ng-if="!newMode && (saved.created || saved.lastUpdated)">
            <hr/>
            <p ng-show="saved.created" class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} <span ng-show="saved.createdBy">by {{saved.createdBy}}</span></p>
            <p ng-show="saved.lastUpdated" class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated | formatMySQLDate}} <span ng-show="saved.updatedBy">by {{saved.updatedBy}}</span></p>
        </div>
        
    </div>
    
    <form ng-if="editMode" name="form.modalForm" role="form" novalidate>
        
        <uib-alert ng-if="saved.locked === '1'" type="danger">This variable is locked and cannot be edited.</uib-alert>
        <uib-alert ng-if="saved.indestructible === '1'" type="warning">This variable is indestructible and cannot be deleted.</uib-alert>
        <uib-alert ng-if="saved.disabled === '1'" type="info">This variable is disabled and will not be loaded by the system.</uib-alert>
        
        <div class="form-group">
            <label>Variable Name</label>
            <input ng-model="editing.name" class="form-control" type="text" maxlength="255" required ng-disabled="saved.locked === '1'" />
        </div>
        
        <div class="form-group">
            <label>Variable Value</label>
            <textarea class="form-control" name="desc" row="2" ng-model="editing.value" maxlength="1000" required ng-disabled="saved.locked === '1'"></textarea>
        </div>

        <div ng-if="!editMode" class="form-group">
            <label>Variable Permissions</label><br/>
            
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="editing.disabled" value="disabled" title="This variableis disabled and will not be auto loaded."> Disabled when created
            </label>
            
        </div>

        <div ng-if="editMode" class="form-group">
            <label>Variable Permissions</label><br/>
            
            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="editing.indestructible" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="indestructible" 
                       ng-disabled="saved.locked === '1'"
                       title="This variable cannot be deleted."> Indestructible
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="editing.disabled" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="disabled" 
                       ng-disabled="saved.locked === '1'"
                       title="This variableis disabled and will not be auto loaded."> Disabled
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" 
                       ng-model="editing.locked" 
                       ng-true-value="'1'"
                       ng-false-value="'0'"
                       value="locked" 
                       ng-disabled="saved.locked === '1'"
                       ng-click="checkboxLockedWarning($event, editing.locked)"
                       title="This variable is locked and cannot be modified without super admin permissions."> Locked
            </label>
            
        </div>
        
    </form>

</div>

<div ng-if="!editMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-info" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <button class="btn btn-warning pull-left" ng-if="!newMode && (saved.locked === '0' && saved.indestructible === '0')" ng-click="buttonDelete()">Delete</button>
        
    <button class="btn btn-info pull-left" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="!newMode && (saved.locked === '0')" ng-click="buttonSave()">Save</button>
</div>