<div class="page-header">
    <h3>Site Map</h3>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Public Pages</h4>
        <ul>
            <li><a ui-sref="public.landing">Landing</a></li>
            <li><a ui-sref="public.about">About</a></li>
            <li><a ui-sref="public.tour">Tour</a></li>
            <li><a ui-sref="public.contact">Contact</a></li>
            <li><a ui-sref="auth.login">Login</a></li>
            <li><a ui-sref="auth.signup">Signup</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Member Pages</h4>
        <ul>
            <li><a ui-sref="member.dashboard">Dashboard</a></li>
            <li><a ui-sref="member.profile">User Profile</a></li>
            <li><a ui-sref="member.settings">User Settings</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Admin Pages</h4>
        <ul>
            <li><a ui-sref="admin.dashboard">Admin Dashboard</a></li>
            <li><a ui-sref="admin.users">Members / Users</a></li>
            <li><a ui-sref="admin.roles">System Roles</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>System Pages</h4>
        <ul>
        </ul>
    </div>
    
</div>
