<div class="page-header">
    <h3>Site Map <small>For Developers Only</small></h3>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Public Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="app.public.landing">Landing</a></li>
            <li><a data-ui-sref="app.public.about">About</a></li>
            <li><a data-ui-sref="app.public.tour">Tour</a></li>
            <li><a data-ui-sref="app.public.terms">Terms of Use</a></li>
            <li><a data-ui-sref="app.public.contact">Contact</a><ul>
                 <li><a data-ui-sref="app.public.contact.confirmation">Message Sent</a></li>
            </ul></li>
            <li><a data-ui-sref="app.auth.login">Login</a>
                <ul>
                 <li><a data-ui-sref="app.auth.login.locked">Account Locked</a></li>
                 <li><a data-ui-sref="app.auth.login.forgotPassword">Forgot Password</a></li>
                 <li><a data-ui-sref="app.auth.login.forgotPassword.resetEmailSent">Reset Email Was Sent</a></li>
                 <li><a data-ui-sref="app.auth.login.forgotPassword.changePassword">Change Your Password</a></li>
            </ul></li>
            <li><a data-ui-sref="app.auth.signup">Signup</a><ul>
                 <li><a data-ui-sref="app.auth.signup.confirmEmail">Confirm Email</a></li>
                 <li><a data-ui-sref="app.auth.signup.success">Signup Success</a></li>
            </ul></li>
        </ul>
        <h4>Store Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="app.store.home">Store Home</a>
            <li><a data-ui-sref="app.store.category({ category: 'accessories' })">View Category</a></li>
            <li><a data-ui-sref="app.store.item({ category: 'accessories', itemId: 1 })">View Item</a></li>
            <li><a data-ui-sref="app.store.cart">Shopping Cart</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 rc-auth-visible-if="user">Member Pages</h4>
        <ul class="list-unstyled" rc-auth-visible-if="user">
            <li><a data-ui-sref="app.member.dashboard">Dashboard</a></li>
            <li><a data-ui-sref="app.member.profile">User Profile</a></li>
            <li><a data-ui-sref="app.member.settings">User Settings</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 rc-auth-visible-if="admin">Admin Pages</h4>
        <ul class="list-unstyled" rc-auth-visible-if="admin">
            <li><a data-ui-sref="app.admin.dashboard">Admin Dashboard</a></li>
            <li><a data-ui-sref="app.admin.users">Members / Users</a></li>
            <li><a data-ui-sref="app.admin.groups">User Groups</a></li>
            <li><a data-ui-sref="app.admin.roles">Group Roles</a></li>
            <li><a data-ui-sref="app.admin.visibility">Field / Element Visibility</a></li>
            <li><a data-ui-sref="app.admin.config">System Configuration Variables</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4 rc-auth-visible-if="admin">System Pages</h4>
        <ul class="list-unstyled" rc-auth-visible-if="admin">
            <li><a data-ui-sref="app.maintenance">Maintenance Page</a></li>
        </ul>
    </div>
    
</div>
