<div class="page-header">
    <h3>Site Map <small>For Developers Only</small></h3>
</div>

<div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Public Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="public.landing">Landing</a></li>
            <li><a data-ui-sref="public.about">About</a></li>
            <li><a data-ui-sref="public.tour">Tour</a></li>
            <li><a data-ui-sref="public.contact">Contact</a>
                <ul>
                 <li><a data-ui-sref="public.contact.confirmation">Message Sent</a></li>
            </ul></li>
            <li><a data-ui-sref="auth.login">Login</a>
                <ul>
                 <li><a data-ui-sref="auth.login.locked">Account Locked</a></li>
                 <li><a data-ui-sref="auth.login.forgotPassword">Forgot Password</a></li>
                 <li><a data-ui-sref="auth.login.forgotPassword.resetEmailSent">Reset Email Was Sent</a></li>
                 <li><a data-ui-sref="auth.login.forgotPassword.changePassword">Change Your Password</a></li>
            </ul></li>
            <li><a data-ui-sref="auth.signup">Signup</a>
                <ul>
                 <li><a data-ui-sref="auth.signup.confirmEmail">Confirm Email</a></li>
                <li><a data-ui-sref="auth.signup.success">Signup Success</a></li>
            </ul></li>
        </ul>
        <h4>Store Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="store.home">Store Home</a>
            <li><a data-ui-sref="store.category({ category: 'accessories' })">View Category</a></li>
            <li><a data-ui-sref="store.item({ category: 'accessories', itemId: 1 })">View Item</a></li>
            <li><a data-ui-sref="store.cart">Shopping Cart</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Member Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="member.dashboard">Dashboard</a></li>
            <li><a data-ui-sref="member.profile">User Profile</a></li>
            <li><a data-ui-sref="member.settings">User Settings</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Admin Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="admin.dashboard">Admin Dashboard</a></li>
            <li><a data-ui-sref="admin.users">Members / Users</a></li>
            <li><a data-ui-sref="admin.groups">User Groups</a></li>
            <li><a data-ui-sref="admin.roles">Group Roles</a></li>
            <li><a data-ui-sref="admin.visibility">Field / Element Visibility</a></li>
            <li><a data-ui-sref="admin.config">System Configuration Variables</a></li>
        </ul>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>System Pages</h4>
        <ul class="list-unstyled">
            <li><a data-ui-sref="maintenance">Maintenance Page</a></li>
        </ul>
    </div>
    
</div>
