<div class="page admin dashboard">
    
    <div class="page-header">
        <h1>Admin Dashboard</h1>
    </div>
    
    <p class="lead">It doesn't matter who we are. What matters is our plan.</p>
    
    <p>No, no, no. A vigilante is just a man lost in scramble for his own 
        gratification. He can be destroyed or locked up. But if you make 
        yourself more than just a man, if you devote yourself to an idel and if 
        they can't stop you then you become something else entirely. Legend, 
        Mr Wayne.</p>

    <p>Let me get this straight. You think that your client, one of the 
        wealthiest, most powerful men in the world is secretly a vigilante who 
        spends his nights beating criminals to a pulp with his bare hands and 
        your plan is to blackmail this person? Good luck.</p>

    <p>I had a vision of a world without Batman. The Mob ground out a little 
        profit and the police tried to shut them down one block at a time. And 
        it was so boring. I've had a change of heart. I don't want Mr Reese 
        spoiling everything but why should I have all the fun? Let's give 
        someone else a chance. If Coleman Reese isn't dead in 60 minutes then 
        I blow up a hospital.</p>
    
    <p>
        <a href="http://batman-ipsum.com/" target="_blank">Batman Ipsum</a>
    </p>
    
</div>