<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="public.landing">Angular Seed</a>
</div>

<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a ui-sref="public.landing">Home</a></li>
        <li><a ui-sref="public.about">About</a></li>
        <li><a ui-sref="public.tour">Tour</a></li>
        <li><a ui-sref="public.contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="auth.login">Login</a></li>
        <li><a ui-sref="auth.signup">Sign Up</a></li>
    </ul>
</div>