### Allow Cross Domain Ajax Requests ###
Header set Access-Control-Allow-Origin "*"

### Redirect to new domain ###
# RewriteEngine on
# RewriteRule ^(.*)$ http://www.angular-seed.dev/$1 [R=301,L]

### Redirect to www ###
# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^angular-seed.dev [NC]
# RewriteRule ^(.*)$ http://www.angular-seed.dev/$1 [R=301,L]

### Redirect iphones to moble site ###
# RewriteEngine on
# RewriteCond %{HTTP_USER_AGENT} iPhone
# RewriteRule .* http://moble.angular-seed.dev/ [R]

## Redirect all requests to the index.html ###
RewriteEngine on
# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
# Rewrite everything else to index.html to allow html5 state links
RewriteRule ^ index.html [L]