/*
 * Typography Styles
 * 
 * General typography and text elements style overrides.
 */

html body { 
    font-size: 12px; 
    
    .h1, h1 {
        font-size: 2.5em;
    }
    .h2, h2 {
        font-size: 2em;
    }
    .h3, h3 {
        font-size: 1.8em;
    }
    .h4, h4 {
        font-size: 1.5em;
    }
    .h5, h5 {
        font-size: 1.3em;
    }
    .h6, h6 {
        font-size: .8em;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: .5em;
        margin-bottom: .2em;
    }
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 1.3em;
        margin-bottom: 1em;
    }
}

.align-right, .alignRight, .text-right, .textRight {
    text-align: right;
}
.align-center, .alignCanter, .text-center, .textCenter {
    text-align: center;
}
.align-left, .alignLeft, .text-left, .textLeft {
    text-align: left;
}

.alert {
    padding: 7px 7px 7px 14px;
    margin-bottom: 10px;
}

.modal-body {
    .meta {
        hr {
            margin-top: 5px;
            margin-bottom: 10px;
        }
        p {
            margin: 0 0 5px;
        }
        font-size: .9em;
    }
}