<div class="page admin users">
    
    <div class="well well-sm pull-right">
        <button type="button" class="btn btn-sm btn-info" ng-click="buttonOpenNewVariableModal()"><i class="fa fa-plus"></i> New Variable</button>
    </div>
    
    <div class="page-header">
        <h1>System Configuration Variables</h1>
    </div>
    
    <table
        data-datatable=""
        data-dt-options="dtSystemVars.options"
        data-dt-columns="dtSystemVars.columns"
        data-dt-instance="dtSystemVars.instance"
        class="table table-hover"></table>

    
</div>