<div class="page admin dashboard">
    
    <div class="page-header">
        <h1>Member Dashboard</h1>
    </div>
    
    <p class="lead">It doesn't matter who we are. What matters is our plan.</p>
    
    <p>No, no, no. A vigilante is just a man lost in scramble for his own 
        gratification. He can be destroyed or locked up. But if you make 
        yourself more than just a man, if you devote yourself to an idel and if 
        they can't stop you then you become something else entirely. Legend, 
        Mr Wayne.</p>

    <p>Let me get this straight. You think that your client, one of the 
        wealthiest, most powerful men in the world is secretly a vigilante who 
        spends his nights beating criminals to a pulp with his bare hands and 
        your plan is to blackmail this person? Good luck.</p>

    <p>I had a vision of a world without Batman. The Mob ground out a little 
        profit and the police tried to shut them down one block at a time. And 
        it was so boring. I've had a change of heart. I don't want Mr Reese 
        spoiling everything but why should I have all the fun? Let's give 
        someone else a chance. If Coleman Reese isn't dead in 60 minutes then 
        I blow up a hospital.</p>

    <p>But we've met before. That was a long time ago, I was a kid at St. 
        Swithin's, It used to be funded by the Wayne Foundation. It's an 
        orphanage. My mum died when I was small, it was a car accident. I don't 
        remember it. My dad got shot a couple of years later for a gambling 
        debt. Oh I remember that one just fine. Not a lot of people know what 
        it feels like to be angry in your bones. I mean they understand. The 
        fosters parents. Everybody understands, for a while. Then they want 
        the angry little kid to do something he knows he can't do, move on. 
        After a while they stop understanding. They send the angry kid to a 
        boy's home, I figured it out too late. Yeah I learned to hide the 
        anger, and practice smiling in the mirror. It's like putting on a 
        mask. So you showed up this one day, in a cool car, pretty girl on your 
        arm. We were so excited! Bruce Wayne, a billionaire orphan? We used to 
        make up stories about you man, legends and you know with the other 
        kids, that's all it was, just stories, but right when I saw you, I 
        knew who you really were. I'd seen that look on your face before. It's 
        the same one I taught myself. I don't why you took the fault for Dent's 
        murder but I'm still a believer in the Batman. Even if you're not...</p>
    
    <p>
        <a href="http://batman-ipsum.com/" target="_blank">Batman Ipsum</a>
    </p>
    
</div>