<div class="modal-header">
    <h3 ng-show="newMode" class="modal-title">New Product Tag</h3>
    <h3 ng-show="editMode" class="modal-title">Edit Product Tag #{{saved.id}} - {{saved.tag}}</h3>
    <h3 ng-show="viewMode" class="modal-title">Product Tag #{{saved.id}} - {{saved.tag}}</h3>
</div>

<div class="modal-body">
    
    <div data-rc-bootstrap-alerts="alertProxy"></div>

    <div ng-if="viewMode">

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Tag Name</label>
                    <p class="form-control-static">{{saved.tag}}</p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Slug</label>
                    <p class="form-control-static"><code>{{saved.slug}}</code></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Description</label>
                    <div class="form-control-static">{{saved.description | formatParagraphsAsHtml}}</div>
                </div>
            </div>
        </div>

        <div class="meta" ng-if="!newMode && (saved.created || saved.lastUpdated)">
            <hr/>
            <p ng-show="saved.created" class="text-muted"><strong>Created:</strong> {{saved.created | formatMySQLDate}} <span ng-show="saved.createdBy">by {{saved.createdBy}}</span></p>
            <p ng-show="saved.lastUpdated" class="text-muted"><strong>Updated:</strong> {{saved.lastUpdated| formatMySQLDate}} <span ng-show="saved.updatedBy">by {{saved.updatedBy}}</span></p>
        </div>

    </div>
    
    <form ng-if="editMode || newMode" name="form.modalForm" role="form" novalidate>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Tag Name</label>
                    <input class="form-control" name="tag" ng-model="editing.tag" type="text" maxlength="255" required />
                    <em>The name is how it appears on your site.</em>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Slug</label>
                    <p class="form-control-static"><code>{{editing.slug | getSlugDashSeperated}}</code></p>
                    <em>The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</em>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea class="form-control" name="desc" row="2" ng-model="editing.description" maxlength="1000"></textarea>
                </div>
            </div>
        </div>
    </form>

</div>

<div ng-if="viewMode" class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="buttonEdit()">Edit</button>
    <button class="btn btn-info" ng-click="buttonCancel()">Done</button>
</div>

<div ng-if="editMode" class="modal-footer">
    <button class="btn btn-warning pull-left" ng-if="editMode" ng-click="buttonDelete()">Delete</button>
    
    <button class="btn btn-info pull-left" ng-click="buttonCancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="newMode" ng-click="buttonNew()">Add</button>
    <button class="btn btn-primary" ng-if="editMode" ng-click="buttonSave()">Save</button>
</div>