<div class="page admin user-roles">
    
    <div class="well well-sm pull-right">
        <div class="btn-group btn-group-sm" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-info"  ng-click="buttonOpenNewRoleModal()"><i class="fa fa-plus"></i> Add Group Role</button>
            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a ng-click="buttonOpenNewGroupModal()">Create New User Group</a></li>
                <li role="menuitem"><a ng-click="buttonOpenNewRoleModal()">Create New Group Role</a></li>
                <li role="menuitem"><a ng-click="buttonOpenNewVisibilityFieldModal()">Create New Visibility Field</a></li>
            </ul>
        </div>
    </div>
    
    <div class="page-header">
        <h1>Groups Roles</h1>
    </div>
      
    <table
        data-datatable=""
        data-dt-options="dtGroupRoles.options"
        data-dt-columns="dtGroupRoles.columns"
        data-dt-instance="dtGroupRoles.instance"
        class="table table-hover"></table>
    
</div>