<div class="page admin users">
    
    <div class="well well-sm pull-right">
        <button id="split-button" type="button" class="btn btn-info"  ng-click="buttonSignupPlayer()">Signup Player</button>
    </div>
    
    <div class="page-header">
        <h1>System Users</h1>
    </div>
      
    <div data-rc-bootstrap-alerts="alertProxy"></div>

    <table
        data-datatable=""
        data-dt-options="dtUsers.options"
        data-dt-columns="dtUsers.columns"
        data-dt-instance="dtUsers.instance"
        class="table table-hover"></table>

    
</div>