
<form name="form.resetPassword" role="form" novalidate>

    <div class="page-header">
        <h1>Reset Password</h1>
    </div>

    <div class="form-group row">
        <div class="col-xs-12">
            <input ng-model="newUser.email" type="email" class="form-control" name="email" placeholder="Contact Email" maxlength="255" readonly>
        </div>
    </div>

    <div ng-if="showPasswordRules" class="form-group">
        <div class="alert alert-warning" role="alert">
            <p><strong>Passwords Must:</strong></p>
            <ul>
                <li>Be at least 8 characters in length.</li>
                <li>Contain at least one letter and number.</li>
            </ul>
        </div>
    </div>

    <div class="form-group row">

        <div ng-if="showPasswordMissmatch" class="col-xs-12 form-group">
            <div class="alert alert-warning" role="alert">
                <p>Passwords must match</p>
            </div>
        </div>

        <div class="col-xs-6">
            <input ng-model="newUser.password"
                   ng-blur="onChangeValidatePassword()"
                   type="password" class="form-control" name="password" placeholder="Contact Password" maxlength="100" required>
        </div>

        <div class="col-xs-6">
            <input ng-model="newUser.passwordB"
                   ng-change="onChangeValidateConfirmPassword()"
                   type="password" class="form-control" name="passwordB" placeholder="Confirm Contact Password" maxlength="100" required>
        </div>
    </div>

    <div data-rc-bootstrap-alerts="signupAlerts"></div>

    <div class="form-group row">
        <div class="form-group col-xs-12">
            <button type="button" class="btn btn-block btn-primary " ng-click="SubmitResetPasswordForm()">Submit</button>
        </div>
    </div>

</form>