### Allow Cross Domain Ajax Requests ###
Header set Access-Control-Allow-Origin "*"

##Header set Access-Control-Allow-Headers "Content-Type, origin, authorization, accept, client-security-token"

## Redirect all requests to the index.php ###
RewriteEngine on

# Don't rewrite files
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite everything else to index.php
RewriteRule ^(.*)$ /v1/index.php [QSA,L]